html, body{
	font-family: norwester;
	margin: 0;
}
header{
	background-image: url('../img/holis.png');
	background-repeat: repeat;
	padding: 10px;
	text-align: center;
	}

	h1{font-size: 36px;
		font-style: italic;
		text-align: center;
	}
	header img{
		border-radius: 125px;
		width: 250px;
	}
	.content{
		background-color: grey;
		padding: 50;
		text-align: center;
		font-size: 14px;
		margin: 0;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	footer{
		background-color: red;
		margin-top: -10;
	}
<header>
			<img src="img/holis2.png">
			<h1>Woody</h1>
		</header>